{% extends "base.html" %}
    
    
    {% block title %}
        Login page
    {% endblock %}
    {% block content %}
        
    <form>
        <div class="mb-3">
          <label for="user" class="form-label">Username:</label>
          <input type="text" name="user" class="form-control" id="user">
        </div>
        <div class="mb-3">
          <label for="mail" class="form-label">E-mail:</label>
          <input type="email" name="mail" class="form-control" id="mail">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% endblock %}
